.splash {
  position: relative;
  z-index: -1;
}

.splash__background {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(.6);
}

.splash__title {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-family: Satisfy, sans-serif;
  font-size: 2rem;
}
@media (min-width: 400px) {
  .splash__title {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .splash__title {
    font-size: 5rem;
  }
}